
<!DOCTYPE html>
<html>

<head>
	<style>
		.home-container {
    text-align: center;
    margin-top: 100px;
  }

  .home-container h1 {
    font-size: 2.5em;
    color: #333;
  }

  .home-container p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }
  img{
	width:100%;
	 height:30rem,
  }

	</style>
</head>

<body>
 <div className=' text-center'>

  <div className="carousel-inner">
    <div className="carousel-item active" data-bs-interval="10000">
      <img urls='https://jsonplaceholder.typicode.com/todos/1' />
   <div className="carousel-caption text-center  ">
        <h1  >Welcome to Our Website</h1>
        <p>this is the home page content.</p>
      </div>


    </div>  </div>
    </div>

</html>




